.w-49{
    width: 49%;
}
.txt-color{
    color: #7a5836;

}
.nav-color{
    background-color: #e8d59e;
}
.admin{
    border: 2px solid #7a5836;
    padding: 15px 25px;
    font-size: 30px;
}
nav ul li {
    color: #7a5836 !important;
    font-size: 25px;
    font-family: "Ubuntu", serif;
    font-weight: 400;

}


main .adding h2.add-title{
    color: #a55505;
}

main .adding form label{
    color: #7a5836;
    font-size: 24px;


}
main .adding form input,main .adding form select{
    border: 2px solid #a55505;
}
main .adding form button{
border: none;
color: #fff;
background-color: #7a5836;
transition:0.7s all;
}

main .adding form button:hover{
    background-color: #e8d59e;
    color: #7a5836;
    border: 1px solid #7a5836;

}

