body{
    padding: 0;
    margin: 0;
    text-decoration: 0;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(214, 195, 169);
}
nav div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}
nav div ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 700px;
}
nav div ul li a{
 text-decoration: none;
 margin-left: 20px;
 font-size: 23px;
 color: white;
}
 nav div ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
nav div button{
    background-color: rgb(214, 195, 169);
    color: white;
    padding: 10px;
    border:1px solid white;

    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin-top: -9px;
    margin-left: 30px;
}
nav div i{
    color: brown;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
nav div span{
    position: absolute;
    top: 18px;
    color: #fff;
    right: 200px;
    background: #dc3432;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #fff;
}
.clear{
    clear: both;
    height: 20px;
    width: 100%;
}
.father{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 100vh;
    margin-left: 100px;
    align-items: center;
}
.cat-head{
    background-color:rgb(220, 211, 211);
    color: white;
    height: 40px;
    text-align: start;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: -80px;
    border: 1px solid black;
}
.menue-head{
    background-color:rgb(220, 211, 211);
    color: white;
    height: 40px;
    text-align: start;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.cart-head{
    background-color:rgb(220, 211, 211);
    color: white;
    height: 40px;
    text-align: start;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: -85px;
}
.cart-head p , .menue-head p{
    padding: 7px;
 }
.cat-head input{
    height: 40px;
    width: 155px;
    border: none;
}
.menue div img{
   width: 274px;
   height: 231px;
}
.cat{
    width: 15%;
    margin-top: -150px;
}
.cat div div ol{
    list-style: none;
}
.cat div div ol li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}
.cat div div ol li a:hover{
    text-decoration: underline;
}
.menue{
    width: 50%;
}
.item1 , .item2 {
    background-color: antiquewhite;
    width: 45%;
}
.cart{
    width: 15%;
    margin-top: -20px;
}
.two{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.sub-item{
    text-align: center;
}
.sub-item div{
    margin-bottom: 10px;
}
.sub-item button{
    width: 100px;
    height: 30px;
    background-color: rgb(214, 195, 169);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.sub-item button:hover{
    background-color: rgb(204, 187, 153);
    transition: background-color 0.3s ease-in-out;
    color: black;
}

.cart button{
    margin-top: 200px;
    width: 200px;
    height: 50px;
    background-color: rgb(214, 195, 169);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}
.cart button:hover{
    background-color: rgb(204, 187, 153);
    transition: background-color 0.3s ease-in-out;
    color: black;
}
.learn{
    text-align: center;
    height: 50px;
    background-color: rgb(106, 106, 100);
    color: white;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 700px;
    border: none;
    margin-bottom: 20px;
}
.learn:hover{
    background-color: rgb(204, 187, 153);
    transition: background-color 0.3s ease-in-out;
    color: black;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

footer div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;

}

footer div ul{
    list-style: none;
}
footer div ul li{
    margin-bottom: 20px;
}

footer div ul li a{
    text-decoration: none;
    margin-left: 5px;
    font-size: 15px;
    color: rgb(15, 13, 13);
}
.div1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}
.div1 div i{
font-size: 30px;
}
 .subdiv{
    margin-left: 20px;
 }


