*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7a5836;
    --secondary-color: rgb(214, 195, 169);
}
li {
    list-style: none;
    display: inline-block;
  }

  a {
     text-decoration: none !important;
    color:#000;
  }
  
  header{
  background-color: rgb(214, 195, 169);
  }
header .logo img , .offcanvas-body .logo img{
    width:80px;
    border-radius:6px;
}
.offcanvas-body .logo img{
    width:100px;
}

header nav{
    align-items:center;
}

header nav a{
    color:#fff;
}

header nav a:hover{
    color: var(--primary-color);
}

.link-active{
    color: var(--primary-color);
}

.login-link{
    border:1px solid var(--primary-color);
    font-weight:bold;
    color:#fff;
    border-radius:5px;
    
}
.offcanvas-nav.offcanvas .login-link{
    color: var(--secondary-color);
}

header .dropdown-menu{
    z-index:20000;
}
a.login-link:hover{
    background:var(--primary-color) !important;
    color:#fff;
    text-decoration:none;

}
.dropdown-toggle img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:1;
}
.dropdown-toggle span{
 align-self:center;
 max-width:100px;
 overflow:hidden;
}
.dropdown-toggle::after{
    align-self:center;
}

.profile-toggle{
    background-color:var(--secondary-color);
}
.offcanvas-nav.offcanvas .profile-toggle{
    background-color:#fff;
    color:var(--secondary-color);
}

.profile-toggle
.profile-toggle:active{
    border:none !important;
    border-color:transparent !important;
}
.w-49{
    width: 49%;
}
.txt-color{
    color: #7a5836;}

main .adding h2.add-title{
    color: #a55505;
}

main .adding form label{
    color: #7a5836;
    font-size: 24px;


}

main .adding form input,main .adding form select{
    border: 2px solid #a55505;
}
main .adding form button{
border: none;
color: #fff;
background-color: #7a5836;
transition:0.7s all;
}

main .adding form button:hover{
    background-color: #e8d59e;
    color: #7a5836;
    border: 1px solid #7a5836;

}
