.add-title {
    color: #a55505;
}

.txt-color {
    color: #7a5836;
}

.container button.btn-primary {
    background-color: #7a5836;
    border: none;
    transition: 0.7s all;
}

.container button.btn-primary:hover {
    background-color: #e8d59e;
    color: #7a5836;
    border: 1px solid #7a5836;
}

.container table {
    border: 6px double #a55505;
}

.container table th {
    color: rgb(61, 61, 61);
    padding: 15px 20px;
}

.container table td button {
    margin-right: 5px;
    background-color: #7a5836;
    border: none;
    transition: 0.7s all;
}

.container table td button.btn-warning:hover {
    background-color: #ffffff;
    border: 1px solid rgb(212, 110, 27);
    color: #7a5836;
}

.container table td button.btn-danger:hover {
    background-color: #ffffff;
    border: 1px solid rgb(243, 76, 76);
    color: #7a5836;
}

.modal-header,
.modal-footer {
    background-color: #e8d59e;
}

.modal-title {
    color: #a55505;
    font-size: 24px;
}

.modal-body form label {
    color: #7a5836;
    font-size: 18px;
    font-weight: 600;
}

.modal-body form input {
    border: 2px solid #a55505;
}

.modal-footer button {
    background-color: #ffffff;
    border: 1px solid rgb(212, 110, 27);
    color: #7a5836;
}